<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TIC-TOC TOE</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div id="app">
        <div
            class="flex flex-col justify-center items-center h-screen bg-[url('https://i.pinimg.com/originals/ce/6f/7f/ce6f7ffd885e477efa2110437ab779dd.gif')] bg-center bg-cover">
            <h1 class="text-3xl font-bold mb-4 text-center"> Tic tac toe</h1>

            <div class="grid grid-cols-3 gap-2">
                <div v-for="(row, rowIndex) in boardCells">
                    <div v-for="(cell, colIndex) in row" @click="cellClicked(rowIndex, colIndex)"
                        class="w-30 h-30 flex items-center justify-center bg-blue-300 text-2xl font-bold cursor-pointer mt-2 hover:bg-blue-400"
                        :class="{
                        'text-red-500': cell === 'X',
                        'text-blue-500': cell === 'O'}">
                        {{cell}}
                    </div>

                </div>

            </div>

            <!-- <p class="mb-3 text-center mt-5">player {{currentPlayer}} turn </p> -->
            <p class="text-2xl font-bold mt-5 text-white">
                {{message}}
            </p>
            <button @click="resetGame" class="bg-blue-500 text-white px-5 rounded mt-3">
                Restart

            </button>


        </div>

    </div>

    <script>

        Vue.createApp({
            data() {
                return {

                    boardCells: [
                        ["", "", ""],
                        ["", "", ""],
                        ["", "", ""]
                    ],
                    currentPlayer: "X",
                    message: "Let's start!",
                    winner: ""

                }
            },
            methods: {

                cellClicked(row, col) {
                    if (this.boardCells[row][col] !== "" || this.winner) {
                        return;
                    }
                    this.boardCells[row][col] = this.currentPlayer;

                    if (this.isWinner(this.currentPlayer)) {
                        this.winner = this.currentPlayer;
                        this.message = `Player ${this.winner} win!`
                    } else {
                        this.currentPlayer = this.currentPlayer === "X" ? "O" : "X";
                        this.message = `Player ${this.currentPlayer}'s turn`
                    }

                },

                isWinner(user) {
                    for (let row = 0; row < this.boardCells.length; row++) {
                        if (this.boardCells[row][0] == user
                            && this.boardCells[row][1] == user
                            && this.boardCells[row][2] == user) {
                            return true;
                        }
                    }
                    for (let col = 0; col < this.boardCells.length; col++) {
                        if (this.boardCells[0][col] == user
                            && this.boardCells[1][col] == user
                            && this.boardCells[2][col] == user) {
                            return true;
                        }
                    }
                    if (this.boardCells[0][0] == user
                        && this.boardCells[1][1] == user
                        && this.boardCells[2][2] == user) {
                        return true;
                    }
                    if (this.boardCells[0][2] == user
                        && this.boardCells[1][1] == user
                        && this.boardCells[2][0] == user) {
                        return true;
                    }
                    return false;
                },

                resetGame() {

                    this.boardCells = [
                        ["", "", ""],
                        ["", "", ""],
                        ["", "", ""]
                    ]

                    this.currentPlayer = "X"
                    this.winner = "";


                }
            },


        }).mount('#app');

    </script>



</body>

</html>